/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*  2. Remove default margin  */
  * {
    margin: 0;
  }
  
  /*  3. Allow percentage-based heights in the application */
  html, body {
    height: 100%;
  }
  
  /*
    Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*  6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*  7. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*  8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*  9. Create a root stacking context */
  #root, #__next {
    isolation: isolate;
  }

  /*
  TODO: 
      add alt text
      fix icons
  */

  :Root {
    --primary-violet: hsl(257, 40%, 49%);
    --primary-magenta: hsl(300, 69%, 71%);
    --primary-ff: 'Open Sans';
    --headings-ff: 'Poppins';
    --fw-400: 400;
    --fw-600: 600;
  }

  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../public//images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-violet);
    color: hsl(0, 0%, 100%);
    padding-inline: 2rem;
  }

  .logo {
    max-width: 50%;
    padding-block: 2rem;
  }

  .mockup {
    padding-block: 2rem;
  }

  h2 {
    font-family: var(--headings-ff);
  }

  p {
    font-family: var(--primary-ff);
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .register {
    background-color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.9rem 5rem;
    cursor: pointer;
  }

  .register:hover {
    background-color: var(--primary-magenta);
    color: hsl(0, 0%, 100%);
  }

  a {
    border: 0.1rem solid white;
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
  }

  a:hover {
    border: 0.1rem solid var(--primary-magenta);
    transform: scale(1.2);
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-block: 3rem;
  }

  .ionicon {
    width: 1.5rem;
    fill: white;
  }

  .ionicon:hover {
    fill: hsl(300, 69%, 71%);
    color: var(--primary-magenta);
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  @media (min-width: 56.25rem) {

    body {
      display: flex;
      justify-content: center;
      background-image: url('../public/images/bg-desktop.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 2rem;
    }

    header {
      max-width: 43.75rem;
    }

    main {
      max-width: 32.5rem;
      text-align: left;
      margin-top: 17rem;
      flex-shrink: 2;
    }

    h2 {
      font-size: 2.5rem;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      margin-top: 15rem;
    }
  
  }